 /* /------font link --------/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}



/* /------header style ------/ */
/* .menu{
    display: flex;
    justify-content:left;    
} */
.menu-items{
    display: flex;
    justify-content: left;
    /* flex-grow: 1; */
}
.other-menu{
    float: right;
}

/* /------ main style ------/ */

/* /---- influencer area -----/ */

.influence-area{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.influence-details{
    padding: 40px 60px;
    color: #3A3A3A;
}
.influence-details h1{
    font-size: 40px;
}
.influence-width{ 
    width: 50%;
}
.buy-button{
    background-color: #E02C6D;
    color:white;
    border-radius: 41px;
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
}
.fa-arrow-right{
    margin-left: 20px;
    font-size: 15px;
}

.influence-image img{
    width: 70%;
    padding-left: 40px;
}
hr {
    width: 1110px;
    /* align-content: center; */
    /* margin-top: 40px; */
}
.logos{
    /* margin: 0 40px; */
    padding-left: 11em;
}
.logos img{
    margin: 10px 20px;
}